<div>
  <h3><%= @member.name %></h3>
  <%= image_tag @member.get_profile_image(100,100) %>
  <% if @member == current_member %>
   <p><%= link_to "プロフィール編集", edit_member_path(@member.id) %></p>
  <% end %>
</div>

<%= render 'posts/list', posts: @posts %>